* {
  font-family: monospace;
}

html {
  height: 100%;
}
body {
  margin: 20px;
}

textarea {
    resize: none;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

select {
  width: 60%;
  text-align: center;
}

.content {
    /*max-width: 700px;*/
    margin: auto;
    text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
}

.ostad-yab {
  overflow: hidden;
}

.ostad-yab ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0 0;
    overflow: hidden;
}

.ostad-yab li {
  float: none;
  padding-top: 5px;
}

/* message card style*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid;
  border-color: #ddd;
  border-radius: 15px;
  transition: 0.3s;
  width: 60%;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

/* message and message list style */
.message-board {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.message {
}

.message #date {
  /*text-align: right;*/
  align-self: flex-end;
}

.message #owner {
  text-align: left;
}

.message #text {
  text-align: right;
  margin-bottom: 30px;
}

.message #footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Tag Item Styles */
.tag-item {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  float: center;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  height: auto;
  width: auto;
  margin: 5px;
}

.tag-item:hover {
  background: #7ccbd6;
  color: #fff;
}

.tag-item:focus {
  outline: none;
}

/* Signin Styles */
.signin-container {
  display: flex;
  flex-direction: column;
}

/* Forms Style */
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin:auto;
}

/* Hand of Fakhari Styles */
.wrapper {
    text-align: center;
    position: relative;
}
.fakhariFinger {
    position: absolute;
    line-height: 1;
    pointer-events: none;
    font-size: calc(2em + 6vw);
    transition: transform 0.5s ease;
    top: 0;
    left: 50%;
    margin-left: -.35em;
    transform-origin: 36% 0%;
    transform: rotate(0deg) translateY(100vh);
}

.wrapper input:checked ~ .fakhariFinger {
    transform: rotate(0deg);
}
.wrapper input {
    transform: scale(2);
    transform-origin: 50% 100%;
}
